<% include ../partials/header %>

<!-- this is /product/product-name/item-name -->
<!-- it has access to item and producturl -->

<div class="container pt-5 mt-5">
    <div class="row">
        <div class="caption col-md-7">
            <h3><a><%= item.name %></a></h3>
            <h5><%= item.price %></h5>
            <p class="pt-4"><%- item.description %></p>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#buyNowDetails">Buy Now</button>
            <!-- a class="btn btn-success" role="button" href="/contact">Buy Now - Contact Us</a -->
            <div class="collapse" id="buyNowDetails">
                <div class="card card-body mt-3 ml-3 mr-3">
                    <p>
                        Interested in buying this product?<br>
                        Email or call us today!</p>
                    <p>
                        <a href="mailto:info@fannyfriendlyllc.com">info@fannyfriendlyllc.com</a><br>
                        <a>+1 (920) 475-7816</a>
                    </p>
                </div>
            </div>
            <p class="mt-4"><a href="/products/<%= producturl %>">&lt; see all <%= producturl %> items</a></p>
            <% if (currentUser) { %>
            <a class="btn btn-warning btn-xs" href="/products/<%= producturl %>/<%= item.url %>/edit">Edit</a>
            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteFormModal">
                Delete
            </button>

            <div class="modal fade" id="deleteFormModal" tabindex="-1" role="dialog" aria-labelledby="deleteFormLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="deleteFormLabel">Warning!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You are about to <strong>DELETE</strong> <%= item.name %>.
                            This action is irreversable. Are you sure you want to do this? 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form class="delete-form mb-0" action="/products/<%= producturl %>/<%= item.url %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-xs">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

        <div class="col-md-5">
            <img src="<%= item.image %>" class="img-fluid" id="product-show-img">
        </div>
    </div>
</div>



<% include ../partials/footer %>
