<% include ../partials/header %>

<div class="container pt-5 mt-5">
    <h1>Edit Product (Admin Only)</h1>
    <form action="/products/<%= product.produrl %>?_method=PUT" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="product[name]" value="<%= product.name %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="produrl">Product Unique URL</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="name" name="product[produrl]" value="<%= product.produrl %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="price">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="price" name="product[price]" value="<%= product.price %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="image">Image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image" name="product[image]" value="<%= product.image %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="product[description]" rows="5"><%- product.description %></textarea>
        </div>
        <div class="form-group row">
            <button class="btn btn-lg btn-success btn-block">Submit</button>
        </div>
    </form>
    <a href="/products">Go Back to List of Products</a>
</div>

<% include ../partials/footer %>

